
.heading{
    display: grid;
    grid-template-columns: 1fr 1fr; 
 gap: 15rem;
  justify-items:baseline;
    align-items: center;
    width: 50%;
    margin:3rem auto;
    border-radius: 8px;
    border: 3px solid rgb(142, 135, 176);

}
.contents{
    background-color: white;
    border-radius: 8px;
    height:130px;
    width: 60%;
    margin: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contents p{
    font-size: 24px;
    color: gray;
    margin-bottom: 0;
   
}
.contents h2{
    font-size: 54px;
    margin-top: 0;
    color: rgb(56, 56, 75);
    
}
.animate{
    animation: showScore 0.3s ease-in-out;
}
.Img{
    margin: 2rem;
    height: 150px;
}
@keyframes showScore{
 0%{transform: scale(1);}
 50%{transform: scale(1.5);}
 100%{transform: scale(1);}
}
@media(max-width:1024px){
    .heading{
        height: 280px;
        width: 80%;
       
        gap:15rem
    }
}
@media(max-width:468px){
    .heading{
        height: 180px;
        width: 90%;
        justify-content: space-between;
        gap:0
    }
    .contents{
        height:80px;
        width: 70%; 
        padding-top: 20px;
        margin: 15px;
    }
    .contents p{
        font-size: 18px;
    }
    .contents h2{
        font-size: 42px;
    }
    .Img{
        height: 90px;
    }
}