
.container{
    width: 30%;
    margin:3rem auto;
    display: flex;
   flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-image: url('../images//bg-triangle.svg');
    background-repeat: no-repeat; 
  background-position: center; 
  background-size: contain; 
}
.wrap > .imgwrap:last-child  {
    grid-column: 1 / -1;
    justify-self: center;
  }
.wrap{
    cursor: pointer;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
  gap: 10rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.imgwrap{
    background-color: white;
    border-radius: 100%;
    width: 147px;
    height: 147px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 0;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4), 4px 4px rgba(0, 0, 0, 0.9);
    border: 30px solid transparent;
}
@media(max-width:1024px){
  .wrap{
    gap: 10rem;
    padding: 0px;
  }
  .container{
    width: 40%;
  }
  .imgwrap{
    
    border: 18px solid transparent;
  }
}
@media(max-width:468px){
  .wrap{
    gap: 6rem;
    padding: 0px;
  }
  .container{
    width: 60%;
  }
  .imgwrap{
    width: 87px;
    height: 87px;
    border: 10px solid transparent;
  }
  .imgwrap img{
    width: 40px;
    height: 40px;
  }
}