.wraper{
    width: 50%;
    margin:3rem auto;
    align-items: center;
}
.wrap{
    
    display: grid;
    grid-template-columns: 1fr 1fr; 
gap: 10rem;
  justify-items:center;
    align-items: center;
  
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem
}
.container p{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 2rem;
    margin-bottom: 4rem
}
.imgwrap{
    background-color: white;
    border-radius: 100%;
    width: 147px;
    height: 147px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.4), 4px 4px rgba(0, 0, 0, 0.9);
    margin-top: 0;
    border: 20px solid transparent;
}
.animate{
    animation: Showit 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
}
.imgwrap.animate::before, .imgwrap.animate::after,
.imgwrap.animate .extraring,
.imgwrap.animate .extraring2{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    animation: ring 4s  ease-out;
    opacity: 0;
    z-index:-10;
}
.imgwrap.animate::before {
    width: 100%;
    height: 100%;
    animation-delay: 0s;
    border: 10px solid  rgba(45, 45, 80, 0.4);; 
  }
  
  .imgwrap.animate::after {
    width: 120%;
    height: 120%;
    animation-delay: 0.5s;
    border: 20px solid rgba(45, 45, 80, 0.2); 
  }
  
  .imgwrap.animate .extraring {
    width: 140%;
    height: 140%;
    animation-delay: 1s;
    border: 10px solid rgba(45, 45, 80, 0.4); 
  }
  
  .imgwrap.animate .extraring2 {
    width: 160%;
    height: 160%;
    animation-delay: 1.3s;
    border: 20px solid rgba(45, 45, 80, 0.2); 
  }
.wins{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 1rem;
    text-align: center;
}
.results{
display: grid;
grid-template-columns: auto;
gap: 8px;
}
.results a{
    text-decoration: none;
    color: white;
    margin-top: 5rem;
}
.results button{
    border: 2px solid rgb(186, 44, 194);
    background-color: rgb(3, 3, 54);
    color: white;
    border-radius: 8px;
    width: 50%;
    height: 40px;
    float: right;
    margin: 30px;
    cursor: pointer;
    margin: auto;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
.results button:hover{
    background-color: rgb(186, 44, 194);
    color: rgb(3, 3, 54);
    
}
@keyframes Showit{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes ring{
    0%{
transform: translate(-50%,-50%) scale(1);
opacity: 0.5;
    }

    100%{
opacity: 0;
transform: translate(-50%,-50%) scale(4);
    }
}
@media(max-width:1024px){
    .wraper{
        width: 80%;
      
    }
    .container p{
        font-size: 20px;
        margin: 0 0 2rem 0;
    }
}
@media(max-width:468px){
    .wraper{
        width: 80%;
      
    }
    .wrap{
        gap: 3rem;
    }
    .container p{
        font-size: 15px;
        margin: 0 0 2rem 0;
    }
    .imgwrap{
        width: 87px;
        height: 87px;
        border: 13px solid transparent;
      }
      .imgwrap img{
        width: 40px;
        height: 40px;
      }
      .wins{
        font-size: 24px;
      }
      .results{
        gap: 20px;
      }
      .results button{
        width: 80%;
      }
}